[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
line-bot-sdk = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]
mypy = "*"
black = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
